/* body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/548/320/non_2x/abstract-background-scene-for-product-display-3d-rendering-premium-free-vector.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   } */

   html, body {
    height: 100%;
  }
  body {
    margin: 0;
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/548/320/non_2x/abstract-background-scene-for-product-display-3d-rendering-premium-free-vector.jpg");
    background-size: cover;
    background-position: right;
  }