
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pacifico&display=swap");
   
html, body {
    height: 100%;
    color: white;
    font-family: 'Lato';
  }

  body {
    margin: 0;
    background-image: url("file:///Users/angiematicorena/Pictures/abstract-background-scene-for-product-display-3d-rendering-premium-free-vector.jpeg");
    background-size: cover;
    background-position: left;
  }

  #introduction{
    padding-top: 10px;
    text-align: center;
  }

  #name {
    font-family:'Pacifico';
    font-size: 60px;
    margin: 0;
  }

  .title {
    padding-top: 10px;
    font-size: 27px;
    margin: 0;
  }

