
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&f&display=swap");
   
html, body {
    height: 100%;
    color: #ee9197;
    font-family: 'Amatic SC';
  }

body {
  margin: 0;
  background-image: url("file:///Users/angiematicorena/Downloads/Green%20Peach%20Minimal%20Organizer%20Desktop%20Wallpaper.png");
  background-size: cover;
  background-position: right;
}

#introduction{
  padding-top: 30px;
  width: 80%;
  transform: translateX(50%);
	animation: slide-in-anim 1.5s ease-out forwards;
}


#name {
  font-family:'Amatic SC';
  font-size: 90px;
  text-align: left;
  margin-top: -12px;
  margin-bottom: 1px;
  margin-left: 7%;
  padding: 10px;
}

.title {
  font-size: 36px;
  text-align: left;
  margin: 0;
  margin-left: 7%;
}

#navbar {
  margin-left: 7%;
  margin-top: 40px;
  font-size: 25px;
}

.tabs {
  display: block;
  width: 190px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s all ease;
  background: linear-gradient(135deg, #f4d0c5, #ee9197);
  color:white;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-size: 24px;
  border: 0.07rem solid #fff;
  transform: translateY(200%);
  animation: slide-up-anim 1.5s ease-out forwards;
}

a.tabs:hover {
  box-shadow: 0 2px 5px rgb(0, 0, 0 ,0.6);
  transform: scale(1.2);
}

.layout {
  display: flex;
}

#container {
  overflow: hidden;
  margin-left: 7%;
  width: 800px;
  height: 400px;
  margin-top: 20px;
  position: center;
  font-size: 6.2rem;
  padding: 0.4em;
}

#socialmedia {
  padding-top: 35px;
  margin-left: auto; 
  margin-right: 3%;
  text-align: center;
  width: fit-content;
  animation: fadeIn 2s;
}

a {
  color:inherit;
}

.icon {
  padding: 6px
}

@keyframes slide-in-anim {
	0% {
		opacity: 0;
	}
	60% {
		transform: translateX(-2.5%);
	}
	75% {
		transform: translateX(-3.5%);
	}
	100% {
		opacity: 1;
		transform: translateX(-1.5%);
	}
}

@keyframes slide-up-anim {
	0% {
		opacity: 0;
	}
	60% {
		transform: translateY(-20%);
	}
	75% {
		transform: translateY(-25%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



